$commentText = $("#comment_<%= @comment.id %> .comment_text").first();
$commentText.html("<div class='edited'><%= j(simple_format(@comment.text)) %></div>");
$("#comment_<%= @comment.id %> .comment_form").first().empty();
