$commentText = $("#comment_<%= @comment.id %> .comment_text").first();
$commentText.html("<span class='edited'><%= @comment.text %></span>");
$("#comment_<%= @comment.id %> .comment_form").first().empty();
