<h3 id='about'>About Monsters</h3>
<p>
  Monsters is a community forum/link aggregator based loosely on
  <%= link_to 'hubski', 'https://hubski.com/', id: 'hubski_link', target: :_blank %>.
  <br>
  <br>
  All users, posts, comments, and relationships are created using data from the Faker gem.
</p>