<h3 class='faq_question'>What is my feed?</h3>
<p class='faq_answer'>
  You have a post feed and comment feed. Your post feed contains posts shared by
  users you follow. Your comment feed contains comments by users you follow.
</p>

<h3 class='faq_question'>What are the icons next to posts and comments?</h3>
<p class='faq_answer'>
  The paper airplanes are for sharing and the magic wands are for badging.
</p>

<h3 class='faq_question'>What does sharing a post do?</h3>
<p class='faq_answer'>
  Sharing a post sends it into the feeds of your followers and causes it to be
  ranked higher on the home page.
</p>

<h3 class='faq_question'>How do I follow someone?</h3>
<p class='faq_answer'>
  Visit their profile by clicking on their name anywhere you see it. Click the 'follow'
  link on their profile. You can unfollow in the same way.
</p>