<div class="tag_group">
  <h4 class="tag_group_header">recent tags:</h4>
  <%= list_inline(@recent_tags) %>
</div>

<div class="tag_group">
  <h4 class="tag_group_header">popular tags</h4>
  <%= list_with_post_count(@popular_tags) %>
</div>
