<% content_for :sub_nav do %>
  <nav id="sub_nav">
    sort by:
    <%= sortable "time" %> | <%= sortable "shares" %> | <%= sortable "comments" %>
  </nav>
<% end %>

<ul class="posts">
  <%= render @posts %>
</ul>
