/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "proxima-nova-1","proxima-nova-2",arial,helvetica,sans-serif;
  font-size: 14px;
}

a {
  color: #222;

  &:link {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

ul {
  list-style: none;
}

hr {
  display: block;
  height: 1px;
  border: none;
  color: #e3e3e3;
  background-color: #e3e3e3;
}

#main_nav {
  border-bottom: 1px solid #777;
  padding: 10px;
  height: 20px;
  color: #3e6d8e;

  a {
    color: #3e6d8e;
  }

  #left_nav {
    float: left;
  }

  #right_nav {
    float: right;
    a { margin: 0 10px; }
  }
}

#flash {
  padding: 10px;
}

#main {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
}


.btn_yellow, .btn_blue {
  border: none;
  padding:5px;

  &:hover {
    cursor: pointer;
  }
}

.btn_blue {
  background: #e4edf4;
  color: #3e6d8e !important;
}

.btn_yellow {
  background: #FFFFB2;
  color: #CC6600 !important;
}

.following {
  color: #3e6d8e;
}

.post_details, .comment_details, .comment_links {
  font-size: 12px;
  color: #777;

  a {
    &:link, &:visited {
      color: #777;
    }
  }
}

.comment_details {
  position: relative;
}

.form_group {
  margin: 10px;

  input {
    padding: 2px;
  }
}
