/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "proxima-nova-1","proxima-nova-2",arial,helvetica,sans-serif;
  font-size: 14px;
  color: #222;
}

#main-nav {
  border-bottom: 1px solid #777;
  padding: 10px;
  color: #3e6d8e;
  a {
    color: #3e6d8e;
  }
}

#main {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
}


a {
  color: #222;

  &:link {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

input[type="submit"], .btn-blue {
  border: none;
  background: #e4edf4;
  padding:5px;
  color: #3e6d8e;

  &:hover {
    cursor: pointer;
  }
}

.btn-yellow {
  color: #CC6600;
  background: #FFFFB2;
  border: none;
  padding:5px;

  &:hover {
    cursor: pointer;
  }
}

ul {
  list-style: none;
  li {
    padding-bottom: 15px;
    margin-bottom: 10px;

    &.post {
      padding-left: 15px;
      border-bottom: 1px dashed #3e6d8e;
    }

    &.nested-comment {
      padding-left: 20px;
      border-left: 1px dashed #3e6d8e;
    }
  }


}



hr {
  display: block;
  height: 1px;
  border: none;
  color: #3e6d8e;
  background-color: #3e6d8e;
  opacity: 0.4;
}
