/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body {
  font-family: "proxima-nova-1","proxima-nova-2",arial,helvetica,sans-serif;
  font-size: 14px;
}

a {
  color: #222;

  &:link {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

ul {
  list-style: none;
}

hr {
  display: block;
  height: 1px;
  border: none;
  color: #e3e3e3;
  background-color: #e3e3e3;
}

#monster_icon {
  &:hover {
    text-decoration: none;
  }

  margin-right: 15px;
}

#footer_nav {
  text-align: center;
  height: 70px;
  clear: both;
  a {
    margin: 0px 10px 0px 10px;
  }
}

#main_nav {
  border-bottom: 1px solid #777;
  padding: 10px;
  color: #3e6d8e;
  background-color: white;
  height: 35px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index:2;
  a {
    color: #3e6d8e;
  }

  #left_nav {
    float: left;
    position: relative;
    top: 10px;
    bottom: 10px;
  }

  #right_nav {
    float: right;
    position: relative;
    top: 10px;
    bottom: 10px;
    right: 40px;
    a {
      margin: 10px;
    }
  }
}

#below_nav {
  margin-top: 50px;
  overflow: hidden;
}

#flash {
  padding: 10px;
  float: left;
  margin-top: 10px;


  .notice {
    color: #FF9900;
  }

  .alert {
    color: #CC3300;
  }
}

@media (max-width: 500px) {
  #right_nav {
    a {
      margin: 2px !important;
    }
  }
}

#main {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
  min-height: 700px;
  padding-bottom: 70px;
}


.btn_yellow, .btn_blue {
  border: none;
  padding: 7px;

  &:hover {
    cursor: pointer;
  }
}

.btn_blue {
  background: #e4edf4;
  color: #3e6d8e !important;
}

.btn_yellow {
  background: #FFFFB2;
  color: #FF9900 !important;
}

.following {
  color: #FF9900 !important;
}

.admin {
  color: red !important;
}

.moderator {
  color: green !important
}

.subdued {
  opacity: 0.4;
}

.post_details, .comment_details, .comment_links, #footer_nav {
  font-size: 12px;
  color: #777;

  a {
    &:link, &:visited {
      color: #777;
    }
  }
}

.comment_details {
  position: relative;
}

table.form_table {
  td {
    padding: 5px;
  }

  .form_input, .form_input_wide {
    padding: 2px;
    height: 20px;
    margin-right: 15px;
  }

  .form_input_wide {
    width: 400px;;
  }

  .form_textarea {
    padding: 3px;
  }

  .form_label {
    font-weight: 500;
  }
}

li.error {
  margin-top: 10px;
  color: #CC3300;
}

/*
http://mislav.github.io/will_paginate/
 */
.digg_pagination {
 background: white;
 cursor: default;
 /* self-clearing method: */ }
 .digg_pagination a, .digg_pagination span, .digg_pagination em {
   padding: 0.2em 0.5em;
   display: block;
   float: left;
   margin-right: 1px; }
 .digg_pagination .disabled {
   color: #999999;
   border: 1px solid #dddddd; }
 .digg_pagination .current {
   font-style: normal;
   font-weight: bold;
   background: #3e6d8e;
   color: white;
   border: 1px solid #2e6ab1; }
 .digg_pagination a {
   text-decoration: none;
   color: #3e6d8e;
   border: 1px solid #9aafe5; }
   .digg_pagination a:hover, .digg_pagination a:focus {
     color: #2b4c63;
     border-color: #2b4c63; }
 .digg_pagination .page_info {
   background: #2e6ab1;
   color: white;
   padding: 0.4em 0.6em;
   width: 22em;
   margin-bottom: 0.3em;
   text-align: center; }
   .digg_pagination .page_info b {
     color: #000033;
     background: #6aa6ed;
     padding: 0.1em 0.25em; }
 .digg_pagination:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden; }
 * html .digg_pagination {
   height: 1%; }
 *:first-child + html .digg_pagination {
   overflow: hidden; }
