// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts_controller, #feed_controller, #comments_controller {

  #sub_nav {
    float: right;
    border-bottom: 1px solid #e3e3e3;
    padding: 15px 20px 10px 7px;

    a {
      color: #3e6d8e;
    }
  }

  #new_post {
    width: 1000px;
    &.form_table {
      width: 100%;
    }
  }

  ul {
    padding-left: 0px;

    li {
      &.post {
        padding-left: 0px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e3e3e3;
      }

      &.nested_comment {
        padding-left: 30px !important;
        /* border-left: 1px dashed #3e6d8e; */
      }
    }

    &.nested {
      padding-left: 30px !important;
    }
  }

  .post_details {
    padding-bottom: 30px;
    .main_post_details {
      float: left;
    }

    .more_info {
      display: none;
      float: right;
    }
  }

  .comment_toggler {
    position: absolute;
    left: -20px;

    &:hover {
      cursor: pointer;
    }
  }

  .comments_count {
    display: none;
  }

  .comment_text {
    font-weight: 500;
  }

  .post_text {
    padding: 20px 20px 60px 0px;
  }

  .hide {
    font-size: 11px;
  }

  .post_options {
    padding-bottom: 10px;
  }

  .edited {
    color: #CC6600;
    background: #FFFFB2;
  }

  .comment_textarea {
    display: block;
    margin-bottom: 10px;
    border-radius: 2px;
    border-color: #777;
  }
}
