// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts_controller {

  #sub-nav {
    float: right;
    border-bottom: 1px solid #777;
    padding: 15px 7px 7px 7px;

    a {
      color: #3e6d8e;
    }
  }

  .post_info {
    font-size: 12px;

    a {
      &:link, &:visited {
        color: #777;
      }
    }
  }

  .post-text {
    padding: 20px;
  }

  .comment-textarea {
    display: block;
    margin-bottom: 10px;
    border-radius: 2px;
    border-color: #777;
  }
}
