// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#users_controller, #profiles_controller {
  .user_info_header {
    text-decoration: underline;
  }

  .user_info_panel {
    float: left;
    width: 22%;
    padding: 3px 10px 3px 3px;
  }

  ul {
    padding-left: 0px;
  }

  .user_stats {
    div {
      margin: 20px 0;
    }
  }

  .avatar {
    border-radius: 50%;
    border: 1px solid #777;
  }

  #user_loader {
    min-width: 500px;
    min-height: 300px;
  }

  @media (max-width: 675px) {
    .user_info_panel {
      clear: both;
      width: 75%;
    }
  }
}
